<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Taskify API</title>
        <link rel="stylesheet" type="text/css" href="css/style.css" />
    </head>

    <body class="d-flex flex-column align-items-center">
        <div class="container pt-5 d-flex flex-column gap-2 align-items-center">
            <div class="border-b pb-2">
                <h1>Welcome to the taskify API</h1>
                <!-- <p>Your gateway to seamless student management.</p>/ -->
            </div>
            <!-- <p>
            academic360 is a robust and efficient student management platform
            designed to streamline academic data management for colleges and
            universities. It offers features to manage student records, marksheets,
            attendance, and more, ensuring a smooth and reliable academic management
            experience.
        </p> -->
        </div>
        <footer class="pb-2">@datachef.in</footer>
    </body>
</html>
