<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Taskify API</title>
    <link rel="stylesheet" type="text/css" href="css/style.css" />
</head>

<body class="d-flex flex-column align-items-center">
    <div class="container pt-5 d-flex flex-column gap-2 align-items-center">
        <div class="border-b pb-2">
            <h1>Welcome to the Taskify API</h1>
            <p>Your gateway to seamless tasks and process management.</p>
        </div>
        <p>
            taskify is a robust and efficient tasks management platform
            designed to streamline steps and processes involved.
        </p>
    </div>
    <footer class="pb-2">@datachef.in</footer>
</body>

</html>